pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/bin/
/config.edn
/secrets.env
/storage/
/tailwindcss/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.portal/
.lsp/
.calva/
*.~undo-tree~
*~
*#
/example-project/storage/
/example-project/tailwindcss/
/example-project/target/
/example-project/bin/